@model Firma.Data.Data.CMS.WiadomoscKontaktowa

@{
    ViewData["Title"] = "Kontakt";
}



<div class="container">
    <h1 class="display-6 text-center fs-2 mb-5">@ViewBag.NaglowekWiadomosci</h1>
    <div class="row">
        @if (TempData["Sukces"] != null)
        {
            <div class="alert alert-success text-center" role="alert">
                @TempData["Sukces"]
            </div>
        }
        <div class="col-12 col-lg-6 mb-4 text-center">
            <div class="form-row">
                <form method="post" asp-action="Kontakt">
                    <div class="mb-3">
                        <label asp-for="Imie" class="form-label"></label>
                        <input asp-for="Imie" class="form-control" />
                        <span asp-validation-for="Imie" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Nazwisko" class="form-label"></label>
                        <input asp-for="Nazwisko" class="form-control" />
                        <span asp-validation-for="Nazwisko" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Uwagi" class="form-label">Treść wiadomości</label>
                        <textarea asp-for="Uwagi" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Uwagi" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-warning">Wyślij wiadomość</button>
                </form>


                </div>
        </div>

        <div class="col-12 col-lg-6 mb-4 align-items-center">
            <img src="~/content/kontakt-zdjecie.png" class="card-img-top" alt="...">
        </div>
    </div>
</div>


