@model List<Firma.Data.Data.CMS.WiadomoscKontaktowa>
@{
    ViewData["Title"] = "Kontakt";
}



<div class="container">
    <h1 class="display-6 text-center fs-2 mb-5">Pytanie/Wiadomości kontaktowe.</h1>
    <div class="row">
        <div class="col-12 col-lg-6 mb-4 text-center">
            <div class="form-row">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Imie</th>
                            <th scope="col">Naziwsko</th>
                            <th scope="col">E-Mail</th>
                            <th scope="col">Treść</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var wiadomosc in Model)
                            {
                        <tr>
                        <td>@wiadomosc.Imie</td>
                        <td>@wiadomosc.Nazwisko</td>
                        <td>@wiadomosc.Email</td>
                        <td>@wiadomosc.Uwagi</td>
                        </tr>
                            }
                    </tbody>
                </table>
                </div>
        </div>

        <div class="col-12 col-lg-6 mb-4 align-items-center">
            <img src="~/content/kontakt-zdjecie.png" class="card-img-top" alt="...">
        </div>
    </div>
</div>


