@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-warning mb-3" style="width: 18rem;">
                <img src="~/content/burger-menu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Burger</h5>
                    <p class="card-text">100% Wołowiny, autorskie sosy, bułka wypiekana na miejscu, ser specjalny, dodatki.</p>
                    <a href="#" class="btn btn-warning">Zamów</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-warning mb-3" style="width: 18rem;">
                <img src="~/content/kebab-menu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kebab</h5>
                    <p class="card-text">Kraftowe mięso, świeże warzywa, oryginalny czosnkowo-miętowy sos, ser feta.</p>
                    <a href="#" class="btn btn-warning">Zamów</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-warning mb-3" style="width: 18rem;">
                <img src="~/content/Pizza-Menu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza</h5>
                    <p class="card-text">Cieńkie/Grube ciasto podane z oryginalnym sosem pomidorowym, serem oraz wybranymi składnikami.</p>
                    <a href="#" class="btn btn-warning">Zamów</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-warning mb-3" style="width: 18rem;">
                <img src="~/content/truskawka-lody-pucharek.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pucharek lodowy</h5>
                    <p class="card-text">Ręcznie wyrabiany deser lodowy, podany w otoczeniu świeżych truskawek.</p>
                    <a href="#" class="btn btn-warning">Zamów</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-warning mb-3" style="width: 18rem;">
                <img src="~/content/burger-menu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Burger</h5>
                    <p class="card-text">100% Wołowiny, autorskie sosy, bułka wypiekana na miejscu, ser specjalny, dodatki.</p>
                    <a href="#" class="btn btn-warning">Zamów</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-warning mb-3" style="width: 18rem;">
                <img src="~/content/kebab-menu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kebab</h5>
                    <p class="card-text">Kraftowe mięso, świeże warzywa, oryginalny czosnkowo-miętowy sos, ser feta.</p>
                    <a href="#" class="btn btn-warning">Zamów</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-warning mb-3" style="width: 18rem;">
                <img src="~/content/Pizza-Menu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza</h5>
                    <p class="card-text">Cieńkie/Grube ciasto podane z oryginalnym sosem pomidorowym, serem oraz wybranymi składnikami.</p>
                    <a href="#" class="btn btn-warning">Zamów</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card border-warning mb-3" style="width: 18rem;">
                <img src="~/content/truskawka-lody-pucharek.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pucharek lodowy</h5>
                    <p class="card-text">Ręcznie wyrabiany deser lodowy, podany w otoczeniu świeżych truskawek.</p>
                    <a href="#" class="btn btn-warning">Zamów</a>
                </div>
            </div>
        </div>
</div>
</div>