@model List<Firma.Data.Data.Zamowienia.Zamowienie>
@{
    ViewData["Title"] = "Zamówienia";
}
<div class="container">
    <h1 class="display-6 text-center fs-2 mb-5 ">Zobacz co zostało ostatnio zamówienione!</h1>
    <div class="row ">
        <div class="col-12 col-lg-6 mb-4 align-items-center">
            <img src="~/content/zamów-zdjecie.png" class="card-img-top" alt="...">
        </div>
        <div class="col-12 col-lg-6 mb-4 text-center">

            <div class="form-row">

                <table class="table">
                    <thead class="thead-dark">
                        
                              <tr>
                                <th scope="col">Imie</th>
                                <th scope="col">Danie</th>
                                <th scope="col">Uwagi</th>
                                <th scope="col">Metoda Płatności</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var zamowienie in Model)
                        {
                            <tr>
                                <td>@zamowienie.Imie</td>
                                <td>@zamowienie.Danie?.Nazwa</td>
                                <td>@zamowienie.Uwagi</td>
                                <td>@zamowienie.MetodaPlatnosci?.Nazwa</td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>

              

                
           


        </div>
    </div>


</div>