@{
    ViewData["Title"] = "Pracownicy";
}
<div class="container">
    <h1 class="display-6 text-center mt-3 mb-3">Podgląd pracowników, zarządzanie.</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Pracownik</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Stanowisko</th>
                <th scope="col">Opcje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><img src="~/content/pracownik-1.png" class="card-img-top pracownik " alt="..."></th>
                <td>Jakub</td>
                <td>Doe</td>
                <td>Kierownik</td>
                <td>
                    <button type="button" class="btn btn-success">Urlopuj</button>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><img src="~/content/pracownik-2.png" class="card-img-top pracownik " alt="..." /></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Kucharz</td>
                <td>
                    <button type="button" class="btn btn-success">Urlopuj</button>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><img src="~/content/pracownik-3.png" class="card-img-top pracownik " alt="..." /></th>
                <td>John</td>
                <td>Doe</td>
                <td>Kelner</td>
                <td>
                    <button type="button" class="btn btn-success">Urlopuj</button>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><img src="~/content/pracownik-1.png" class="card-img-top pracownik " alt="..."></th>
                <td>Jakub</td>
                <td>Doe</td>
                <td>Kierownik</td>
                <td>
                    <button type="button" class="btn btn-success">Urlopuj</button>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><img src="~/content/pracownik-2.png" class="card-img-top pracownik " alt="..." /></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Kucharz</td>
                <td>
                    <button type="button" class="btn btn-success">Urlopuj</button>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><img src="~/content/pracownik-3.png" class="card-img-top pracownik " alt="..." /></th>
                <td>John</td>
                <td>Doe</td>
                <td>Kelner</td>
                <td>
                    <button type="button" class="btn btn-success">Urlopuj</button>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><img src="~/content/pracownik-1.png" class="card-img-top pracownik " alt="..."></th>
                <td>Jakub</td>
                <td>Doe</td>
                <td>Kierownik</td>
                <td>
                    <button type="button" class="btn btn-success">Urlopuj</button>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><img src="~/content/pracownik-2.png" class="card-img-top pracownik " alt="..." /></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Kucharz</td>
                <td>
                    <button type="button" class="btn btn-success">Urlopuj</button>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><img src="~/content/pracownik-3.png" class="card-img-top pracownik " alt="..." /></th>
                <td>John</td>
                <td>Doe</td>
                <td>Kelner</td>
                <td>
                    <button type="button" class="btn btn-success">Urlopuj</button>
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
