@{
    ViewData["Title"] = "Zamowienia";
}

<div class="container">
    <h1 class="display-6 text-center mt-3 mb-3">Podgląd Zamówień.</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numer zamówienia</th>
                <th scope="col">Danie</th>
                <th scope="col">Dowóz/Restauracja</th>
                <th scope="col">Status</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle"><strong>0001</strong></td>
                <th scope="row"><img src="~/content/burger-menu.png" class="card-img-top pracownik " alt="..."></th>
                <td class="align-middle">Dowóz</td>
                <td class="align-middle"><button type="button" class="btn btn-success">Zrealizowano</button></td>
            </tr>
            <tr>
                <td class="align-middle"><strong>0002</strong></td>
                <th scope="row"><img src="~/content/truskawka-lody-pucharek.png" class="card-img-top pracownik " alt="..."></th>
                <td class="align-middle">Dowóz</td>
                <td class="align-middle"><button type="button" class="btn btn-success">Zrealizowano</button></td>
            </tr>
            <tr>
                <td class="align-middle"><strong>0003</strong></td>
                <th scope="row"><img src="~/content/kebab-menu.png" class="card-img-top pracownik " alt="..."></th>
                <td class="align-middle">Restauracja</td>
                <td class="align-middle"><button type="button" class="btn btn-warning">W trakcie</button></td>
            </tr>
            <tr>
                <td class="align-middle"><strong>0004</strong></td>
                <th scope="row"><img src="~/content/Pizza-Menu.png" class="card-img-top pracownik " alt="..."></th>
                <td class="align-middle">Dowóz</td>
                <td class="align-middle"><button type="button" class="btn btn-danger">Anulowano</button></td>
            </tr>
            <tr>
                <td class="align-middle"><strong>0005</strong></td>
                <th scope="row"><img src="~/content/burger-menu.png" class="card-img-top pracownik " alt="..."></th>
                <td class="align-middle">Restauracja</td>
                <td class="align-middle"><button type="button" class="btn btn-success">Zrealizowano</button></td>
            </tr>
            <tr>
                <td class="align-middle"><strong>0006</strong></td>
                <th scope="row"><img src="~/content/truskawka-lody-pucharek.png" class="card-img-top pracownik " alt="..."></th>
                <td class="align-middle">Dowóz</td>
                <td class="align-middle"><button type="button" class="btn btn-success">Zrealizowano</button></td>
            </tr>
            <tr>
                <td class="align-middle"><strong>0007</strong></td>
                <th scope="row"><img src="~/content/kebab-menu.png" class="card-img-top pracownik " alt="..."></th>
                <td class="align-middle">Dowóz</td>
                <td class="align-middle"><button type="button" class="btn btn-warning">W trakcie</button></td>
            </tr>
            <tr>
                <td class="align-middle"><strong>0008</strong></td>
                <th scope="row"><img src="~/content/Pizza-Menu.png" class="card-img-top pracownik " alt="..."></th>
                <td class="align-middle">Restauracja</td>
                <td class="align-middle"><button type="button" class="btn btn-danger">Anulowano</button></td>
            </tr>
        </tbody>
    </table>
</div>